/*  your css code here. If applicable */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.circle {
    width: 20px;
    height: 20px;
    color: aliceblue;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
}
.circle.active {
    background-color: #1392e7;
}

#next, #prev {
    margin: 10px;
    padding: 5px 10px;
    background-color: #1392e7;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
  }